Repository kubernetes-sigs/kernel-module-management, pull requests merged in 2024-07, with the labels that each got.

#853 Refusing `Modules` with container images without a sha or a tag.
  internal/registry/registry.go
  internal/registry/registry_test.go
  internal/webhook/module.go
  internal/webhook/module_test.go
Labels: size/L, approved, lgtm, cncf-cla: yes

#850 Shorten UpdateNodeLabelsAndRecordEvents function in nmc_reconciler.go
  internal/controllers/mock_nmc_reconciler.go
  internal/controllers/nmc_reconciler.go
  internal/controllers/nmc_reconciler_test.go
  internal/node/mock_node.go
  internal/node/node.go
  internal/node/node_test.go
Labels: approved, lgtm, size/XL, cncf-cla: yes, ok-to-test

#860 Update Reconcile Test to Validate Specific Errors
  internal/controllers/nmc_reconciler.go
  internal/controllers/nmc_reconciler_test.go
Labels: approved, lgtm, cncf-cla: yes, ok-to-test, size/S

#866 Changing the `ImagePullPolicy` for the operator and the webhook.
  config/manager-base/manager.yaml
  config/webhook-server/deployment.yaml
Labels: size/XS, approved, lgtm, cncf-cla: yes
